// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #223a47;
$secondary: #f27257;

body {
	// font-family: "Fredericka the Great", cursive;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	line-height: 1.25;
}

#wrapper-navbar {
	margin-bottom: -350px;

	.top-header-holder {
		height: 260px;
		background-color: #ffffff;
		padding-top: 50px;
		padding-bottom: 50px;
		.container {
			.logo-holder {
				display: block;
				.logo {
					width: 275px;
				}
			}

			.social-media-holder {
				font-size: 50px;
				a {
					color: $secondary;
					text-decoration: none;
					&:hover {
						color: darken($secondary, 10%);
					}
				}
			}

			.contact-holder {
				font-size: 18px;
				a {
					display: inline-block;
					margin-right: 1em;
					margin-bottom: 1em;
					color: $primary;
					.fa {
						color: $secondary;
					}
				}
			}

			.reservation-btn {
				// font-family: "Fredericka the Great";
				font-size: 38px;
				display: inline-block;
				border: 1px dotted $secondary;
				padding: 0.25em 0.5em;
				border-radius: 0.25em;
				transition: 0.25s ease all;
				cursor: pointer;
				&:hover {
					text-decoration: none;
					background-color: $secondary;
					color: #ffffff;
				}
			}
		}
	}

	#main-nav {
		border-top: 1px solid rgba(#5da0aa, 0.5);
		border-bottom: 1px solid rgba(#5da0aa, 0.5);
		padding: 0px;
		ul {
			flex: 1;
			justify-content: space-between;
			li {
				a {
					font-weight: 600;
					font-size: 22px;
					text-transform: uppercase;
					padding: 1.5em 0.6em;
				}
				&.current_page_item {
					a {
						color: $secondary;
					}
				}
			}
		}
	}
}

.home-banner {
	height: 1080px;
	background: #ccc;
	background-image: url(../img/home-banner.png);
	background-size: cover;
}
